.new-recipe_form input {
  outline: none;
  border-radius: 2px;
  color: #333; }

.new-recipe_form button {
  outline: none;
  border-radius: 2px;
  background: #333333;
  color: #fff;
  border: 1px solid #424242; }

.category-option {
  background: #424242;
  color: #fff; }

.new-recipe_input {
  font-size: 0;
  padding: 20px; }

.new-recipe_form,
.new-recipe_preview {
  color: #333;
  text-shadow: none;
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 50%; }
  .new-recipe_form h2,
  .new-recipe_preview h2 {
    margin-top: 10px; }

.qty-input {
  width: 80px;
  margin-right: 10px; }

.ingredient-list,
.direction-list {
  border: 1px solid #000;
  height: 250px;
  overflow-y: scroll;
  background: #fff; }

.field_recipe-image {
  width: 200px; }
  .field_recipe-image img {
    border: 1px solid #000; }

.ingredient-single .single_qty {
  width: 20%;
  text-align: center; }

.ingredient-single .single_name {
  width: 70%;
  text-align: left; }

.ingredient-single .btn-delete {
  width: 10%;
  text-align: center; }

.single-direction {
  margin-bottom: 5px; }
  .single-direction .direction-text {
    width: 90%;
    padding-left: 10px; }
  .single-direction .btn-delete {
    width: 10%;
    text-align: center; }

.preview-delete {
  margin-top: 5px;
  border-radius: 3px;
  background: #333333;
  color: #fff;
  border: 1px solid #424242;
  outline: none; }

.single-recipe {
  padding: 20px;
  margin-top: 10px; }

.recipe-card-top {
  padding: 30px;
  border: 2px solid #333;
  border-radius: 3px;
  color: #333;
  text-shadow: 1px 1px #C9C7C7;
  background: #fff;
  font-size: 14px; }
  .recipe-card-top img {
    width: 50%;
    padding-left: 20px; }
  .recipe-card-top .single-recipe_ingredients {
    width: 50%;
    padding-left: 70px; }

.ingredient-list-quantity {
  width: 40%;
  line-height: height; }

.ingredient-list-name {
  width: 50%; }

.recipe-card-bottom {
  margin-top: 20px;
  border: 2px solid #333;
  border-radius: 3px;
  background: #fff; }
  .recipe-card-bottom li {
    margin-top: 10px; }

.single-recipe_directions input {
  margin-right: 20px; }

.single-recipe_directions .direction-text {
  color: #333;
  text-shadow: 1px 1px #C9C7C7; }

.single-recipe_direction {
  color: #C9C7C7; }

.complete {
  text-decoration: line-through;
  color: #E62117;
  list-style: none; }

.recipe-delete {
  background: #333;
  margin-top: 10px;
  color: #fff; }

.signupTab-component {
  position: relative;
  margin-top: 120px;
  margin-right: 100px; }

.welcomeInfo {
  color: black;
  width: 300px;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 36px;
  position: absolute;
  margin-left: 150px;
  transform: translateY(150px);
  z-index: 1;
  text-shadow: none;
  text-align: center; }

.signupTab-component img {
  position: absolute;
  width: 800px;
  height: 550px;
  margin-left: 10%; }

.signup, .login {
  margin: 0 500px;
  width: 380px; }

.tabs {
  width: 300px;
  height: 50px;
  margin-left: 530px;
  transform: translateY(-36.5px);
  opacity: .92; }

#loginButton {
  background: #ffd071;
  width: 130px;
  margin-left: 35px; }

#signupButton {
  width: 130px;
  background: #f0776c; }

.tabs p {
  float: left;
  color: #fff;
  text-align: center;
  padding-top: 4%;
  height: 50px; }

.tabs p:hover {
  padding-top: 1%;
  font-size: 24px;
  color: #fff;
  cursor: pointer; }

.form-control {
  position: relative;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 5%;
  transform: translateY(150px); }

.btn {
  background-color: #FFF;
  color: #000024;
  position: relative;
  width: 100px;
  margin-left: 150px;
  transform: translateY(190px); }

.navbar {
  width: 15%; }
  .navbar img {
    width: 200px; }

.nav-buttons {
  margin-top: 30px; }

#sidebar a {
  display: block;
  padding: 10px 0px;
  text-decoration: none; }

.tab.inner span {
  text-align: center;
  font-size: 0px; }

.tab.inner {
  width: 15px;
  height: 50px;
  transition: width 0.3s, background-color .3s linear;
  color: #333;
  text-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.tab.inner:first-child {
  border-left: 15px solid #ffd071; }

.tab.inner:nth-child(2n) {
  border-left: 15px solid black; }

.tab.inner:hover {
  width: 200px;
  cursor: pointer;
  background-color: #ffd071;
  text-align: center; }

.tab.inner:hover span {
  font-size: 20px; }

.filter-recipe {
  margin: 20px 0; }

.single-thumbnail:hover {
  cursor: pointer; }

.thumbnail {
  background: #333333; }

.thumbnail img {
  width: 100%; }

.cookbook_details {
  width: 98%;
  margin: 0 auto;
  padding: 1px;
  padding-top: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: rgba(51, 51, 51, 0.9);
  transform: translateY(-73px); }
  .cookbook_details h3 {
    margin: 0;
    font-size: 20px; }
  .cookbook_details p {
    font-size: 12px; }

.all-recipes {
  padding-left: 50px; }

.recipe-search {
  text-align: center;
  margin-bottom: 15px; }
  .recipe-search .search_input {
    position: relative;
    outline: none;
    width: 300px;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding-left: 5px; }
  .recipe-search .btn-search {
    color: #333;
    outline: none;
    border: none;
    font-size: 14px;
    background: #fff;
    position: absolute;
    width: 20px;
    height: 24px;
    padding: none;
    transform: translateX(-27px); }

.bookmarks {
  margin-top: 100px; }

.bookmark-list {
  background: #fff;
  border: 1px solid #333;
  border-radius: 3px; }

.bookmark-single {
  color: #333;
  cursor: pointer;
  padding: 8px 0;
  text-shadow: none; }
  .bookmark-single a {
    text-decoration: none; }
  .bookmark-single .bookmark-link {
    width: 90%; }
  .bookmark-single .fa {
    text-align: right;
    width: 10%;
    padding-right: 5px; }

* {
  box-sizing: border-box; }

body {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg");
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  text-shadow: 1.5px 1.5px #333; }

img {
  width: 100%;
  display: block; }

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px #333; }

.u_column-container {
  font-size: 0; }

.u_column {
  display: inline-block;
  font-size: medium;
  vertical-align: top; }

.page-content {
  width: 80%; }

.account-button {
  font-size: medium;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  text-shadow: none;
  border-radius: 3px;
  opacity: 0.92;
  text-align: right;
  background: #fff;
  border: 1px solid #333;
  width: 90px; }

.account-button:hover {
  cursor: pointer; }

.btn-filter {
  width: 20%;
  outline: none; }

.col-sm-6:nth-child(2n+1) {
  clear: left; }

.btn-normal {
  background: #fff;
  color: #333333; }

.btn-selected {
  background: #333333;
  color: #fff; }

/*# sourceMappingURL=styles.css.map*/